header{
    padding-bottom: 8px;
}
.cabecera{
    position: relative;
    margin-top: 27px;
    z-index: 50;
    figure{
        margin: 0 0 0 0;
        img{

        }
    }
    .ministerio-mujer{
        width: 217px;
        height: auto;
        margin-top: 20px;
        margin-left: 180px;
        position: absolute;
        right: -13%;
    }
    .logo{
        display: block;
        margin: 0 auto;
        margin-top: 30px!important;
    }

    .titulo-principal{
        text-align: center;
        font-family: $titulo-principal-family;
        font-size: $titulo-principal-size;
        font-weight: $titutlo-principal-weight;
        color: $titulo-principal-color;
        margin: 10px 0 0 0;

    }
    .lema{
        text-align: center;
        font-family: $titulo-lema-family;
        font-weight: $titutlo-lema-weight;
        color: $titulo-lema-color;
        font-size: $titulo-lema-size;
        margin: 8px 0 0 0;
    }

    .menu-movil{
    }
.menu-principal{
        //nav
    margin-top: 15px;
    margin-bottom: 70px;
        position: relative;
        z-index: 8;
        .fa-times{
            display: none;
        }
    }


}
//fondo
    .fondo-a{
        position: absolute;

        width: 100%;
        height: 330px;
        top: 0;
        background-image: url(img/fondo-blanco-a.png);
        background-repeat: no-repeat;
        background-position: top center;
        //background-size: cover;
        z-index: 5;
        }

    .fondo-b{
        position: absolute;
        top: 0;
        width: 100%;
        height: 330px;
        background: url(img/fondo-adorno.png);
        background-repeat: no-repeat;
        background-position: top center;
        //background-size: cover;
        z-index: 2;
        }

