header{
    padding-bottom: 25px;
}
.hamburger{
    display: none;
}/*
.fnd-header{
    display: none;
}
*/
.logo{
    margin-top: 80px!important;
}
.adorno-movil{
            display: none;
            img{
            }
            .linea-adorno{
            }
        }

.menu-movil{
    }
.menu-principal{
        //nav
    margin-top: 15px;
        position: relative;
        z-index: 8;
        .fa-times{
            display: none;
        }
    }
    nav{
        position: relative;
        font-family: $menu-family;
        margin: 0 auto;
        width: 809px;
        height: 31px;
        margin-top: 0;//24
        .menu-prin-movil{
            //display: block;
            position: relative;
            width: 100%;
            height: auto;
            top: 0;
            left: 0;
            z-index: 999;
            opacity: 1;
        }
        ul{
            position: relative;
            font-weight: $menu-weight;
            font-size: $menu-size;
            list-style: none;
            //position: relative;
            display: flex;
            justify-content:space-between;
            padding: 0;
            margin: 0 auto;

            width: 809px;
            .contacto{
                border: 1px solid #08223E;
                border-radius: 7px;
                padding: 4px 10px;
                margin-top: -4px;
                }
            li{
                float: left;

                a{
                    color: $menu-color;
                    width: 100%;
                    text-decoration: none;
                    padding: 9px 0;
                    text-align: center;
                    /*
                    &:hover{
                        border-bottom: 1px solid $menu-color;
                        padding-bottom: 2px;
                    }
                    */
                    i{
                        margin-left: 5px;
                    }
                }
                ul{
                    background-color: rgba(49,48,48,0.90);
                }
                .sub-nosotros{
                   display: none;
                    width: 135px;
                    height: auto;
                    left: 80px;
                    li{
                        width: 100%;
                        a{
                            display: block;
                            text-align: left;
                            padding-left: 10px;
                            color: #fff;
                            &:hover{
                                background-color: #C8952B;
                            }
                        }
                    }
                }

                .sub-servicio{
                    display: none;
                    width: 270px;
                    height: auto;
                    left: 210px;
                    li{
                       width: 100%;
                        a{
                            display: block;
                            text-align: left;
                            padding-left: 10px;
                            color: #fff;
                            &:hover{
                                background-color: #C8952B;
                            }
                        }
                    }
                }
                .sub-proc-soc{
                    display: none;
                    width: 280px;
                    height: auto;
                    left: 320px;
                    li{
                       width: 100%;
                        a{
                            display: block;
                            text-align: left;
                            padding-left: 10px;
                            color: #fff;
                            i{
                                position: absolute;
                                right: 10px;
                            }
                            &:hover{
                                background-color: #C8952B;
                            }
                        }
                    }
                    .sub-tall-prod{
                        display: none;
                        width: 280px;
                        height: auto;
                        left: 280px;
                        top: 42px;
                        li{
                           width: 100%;
                            a{
                                display: block;
                                text-align: left;
                                padding-left: 10px;
                                color: #fff;

                                &:hover{
                                    background-color: #C8952B;
                                }

                            }
                        }
                    }
                }
            }

        }
        .nosotros{
            &:hover .sub-nosotros{
                display: block;
            }
        }
        .servicio{
            &:hover .sub-servicio{
                display: block;
            }
        }
        .pro-soc{
            &:hover .sub-proc-soc{
                display: block;
            }
        }
        .tall-prod{
            &:hover .sub-tall-prod{
                display: block;
            }
        }
        >ul>li{

        }

        >ul>li>ul{
            display: block;
            position: absolute;
            margin-top: 5px;
            //background: red;
        }

        >ul>li>ul>li{
            display: block;
            //position: absolute;
        }
        >ul>li>ul>li>ul{
            display:block;
            position: absolute;
        }
        >ul>li>ul>li>ul>li{
            display:block;
        }
    }



