.owl-carousel{
    margin-top: 20px;
    .owl-stage-outer{
        //height: 300px;
        .item{

            img{
            width: 100%;
                height: auto;
            vertical-align: middle;
            }
        }
    }
}
header{
    figure{
        .ministerio-mujer{
             margin-left: 12%;
        }
        img{

        }
    }
}

.cabecera .ministerio-mujer{
    width: 180px;
    height: auto;
}
.fnd-header{
    margin-top: 30px;
}
