
.galeria-imagen{
    text-align: center;
    img{
        width: 100%;
        max-width: 240px;
    }
}
.presidenta{
    p{
        padding-bottom: 45px;
    }
}
.directorio{
    .info-directorio{
        padding-left: 0;
        h2{
        }
        p{
        }

    }

}
