.contenedor-talleres{
    .talleres{
        border: 2px solid transparent;
        transition: .4s all;
        &:hover{
            box-shadow: 0 1px 4px $tit_sec_color;
        }
    }
}
.enlaces-externos{
    .item{
        a{
            img{
                filter: grayscale(100%);
                &:hover{
                filter: grayscale(0);
                }
            }

        }
    }
}
.directorio{
    h2{
        text-align: left;
    }
    p{
        text-align: left;
    }
}
