
.menu-movil{
        position: absolute;
       height: auto;
        width: 100%;
        top: 10px;
        //right: 15px;
        z-index: 8;
    }
    .menu-principal{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
    }
    .hamburger{
            position: fixed;

            right: 20px;
            top: 30px;
            z-index: 90;
            border: solid 1px $menu-color;
            border-radius: 7px;
            padding: 12px 10px;
            }
    .hamburger-animation{
            //position: absolute;
            border: none;
            background-color: transparent;
    }
.menu-animacion{
            //position: absolute;
            //display: block;
            position:fixed;
            left: 0;
            top: 0;
            //right: -10px;
            //top: -320px;
            background: $menu-movil-background;
            opacity: 1;
            width: 97%;
            height: 90%;
            z-index: 9;
            transition-duration: .6s;
            overflow: scroll;

        }
    nav{
        font-family: $menu-movil-family;
        //background: $menu-movil-background;
        font-weight: $menu-movil-weight;
        //position: relative;
       //left: 0;
        left: -500px;
        overflow: scroll;
         width: 0;
            height: 0;
        opacity: 0;
        margin-top: 20px;
        .menu-prin-movil{

            //desactivar para que se vea el menu movil
            //display: none;

           // width: 0;
            //height: 0;
            //max-height: 450px;
            //opacity: 0;
        }



        .hamburger-box{


        }
        .hamburger-inner{
            display: block;
            margin: 0 2px;
        }
        .hamburger-inner, .hamburger-inner::after, .hamburger-inner::before{
            width: 35px;

        }
        ul{
            padding-bottom: 0;
            margin-bottom: 0;
            &::before{
                content: '';
                position: absolute;
                height: 9px;
                width: 100%;
                top: 0;
                left: 0;
                background-color: #F2B231;
            }

        }
        ul >li:first-child{
          margin-top: 10px;

        }
        ul li a{
            display: block;
            width: 100%;
            height: 100%;
        }
        >ul>li{
            position: relative;
        }
        //submenus-nivel-1
        >ul>li>ul{
            //padding: 0;
            display: none;
            position: relative;
            transition: .5 all;
            //padding-left: 15px;
            background-color: $menu-movil-color-submenu;
            padding: 10px 0 0 15px;
            margin-top: 5px;
        }

        //barra en el submenu
        >ul>li>ul::before{
            content: '';
            position: absolute;
            width: 6px;
            height: 100%;
            background-color: #F2B231;
            opacity: .8;
            left: 0;
            top: 0;

        }
        >ul>li>ul>li{
        }
        >ul>li>ul>li:last-child{
            padding-bottom: 10px;
        }

        //submenu del submenu talleres productivos
        >ul>li>ul>li>ul{
            position: relative;
            padding: 0;
            padding: 0 0 0 15px;
            background: $menu-color;
            display: none;
            margin-top: 10px;
            overflow: scroll;
        }
        >ul>li>ul>li>ul>li{
             padding-top: 8px;
             margin-top: 15px;
        }
        >ul>li>ul>li{
        }
        >ul>li>ul>li>ul::before{
            content: '';
            position: absolute;
            width: 4px;
            height: 100%;
            background-color: #fff;
            opacity: .8;
            left: 0;
            top: 0;

        }
        >ul>li>ul>li>ul>li:last-child{
            padding-bottom: 10px;
        }
        ul{
            font-size: $menu-movil-size;

            padding: 0;
            list-style: none;
            padding-top: 22px;
            padding-left: 30px;
            padding-bottom: 44px;
            li{
                margin-top: 30px;
                a{
                    //width: 100%;
                    color: $menu-movil-color;
                    text-decoration: none;
                    i{
                        margin-left: 10px;
                    }
                }
            }
        }
        .adorno-movil{
            position:relative;
            //margin: 0 0 0 0;
            left: -15px;
            text-align: center;
            height: auto;
            top: 58px;

            img{
                position: relative;
                margin: 0;
                top: -20px;
                z-index: 2;
            }
            .linea-adorno{
                position: absolute;
               z-index: 1;
               // background-color: #F2B231;
                left: 0;
                width: 100%;
                height: auto;
                display: block;
                margin: 0 auto;
                text-align: center;
                bottom: 0;
                padding: 0;
            }
        }
    }

@media only screen and (max-height: 500px){
    .adorno-movil{
        bottom: 0;
        position: static!important;
        left: 15px;
        margin-left: -25px;
        img{
            top: 0!important;
        }
        .linea-adorno{
            display: none!important;
        }
    }
}

