@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700|Roboto:300,500');

//titulo principal
$titulo-principal-family: 'Raleway', sans-serif;
$titulo-principal-size: 24px;
$titutlo-principal-weight: 700;
$titulo-principal-color: #08223E;

//lema
$titulo-lema-family: 'Roboto', sans-serif;
$titulo-lema-size: 16px;
$titutlo-lema-weight: 300;
$titulo-lema-color: #313030;


//menu
$menu-family: 'Raleway', sans-serif;
$menu-size: 16px;
$menu-weight: 300;
$menu-color: #08223E;

//menu-movil
$menu-movil-family:'Raleway', sans-serif;
$menu-movil-background: rgba(67,120,175,.97);
$menu-movil-color-submenu: #10457C;
$menu-movil-color:white;
$menu-movil-size: 22px;
$menu-movil-weight: 400;

//titulo secciones principales
$tit_sec_fam: 'Raleway', sans-serif;
$tit_sec_weight: 700;
$tit_sec_size: 20px;
$tit_sec_color: #10457C;

//subtitulo
$sub_tit_fam: 'Roboto',sans-serif;
$sub_tit_weight: 500;
$sub_tit_size: 16px;
$sub_tit_color: #08223E;

//parrafo
$par_fam: 'Roboto',sans-serif;
$par_weight: 300;
$par_size: 16px;
$par_color: 313030;

//titulo de talleres
$tit_tal_fam:'Raleway', sans-serif;
$tit_tal_weight:600;
$tit_tal_size:20px;
$tit_tal_color:#C8952B;

//subtitulo de talleres
$subtit_tal_fam:'Raleway', sans-serif;
$subtit_tal_weight:600;
$subtit_tal_size:16px;
$subtit_tal_color:#0C345D;

//link
$link_fam:'Raleway', sans-serif;
$link_weight:600;
$link_size:20px;
$link_color:#C8952B;


